{% extends "base.html" %}

{% block content %}
<div class = "splash">
</div>
<form class="pure-form pure-form-aligned" method="post">
  {% csrf_token %}
  <table class="table full"  cellspacing="1" cellpadding="2"  align="center">
    {{ form_designacao.non_field_errors }}
    <tr bgcolor="#6699CC">
      <td colspan="20">
        <div align="center"><font face="Arial" size="4"><b><font color="#FFFFFF">Cadastrar escala para este militar</font></b></font></div>
      </td>
    </tr>
    <tr bgcolor="ebebeb">
      <td colspan="5" width="12%">
       <div class="control-group"> Posto/Graduação:
         <input type="text" readonly=true name="posto_graduacao" size="15" value="{{militar.get_posto_display}}">
       </div>
      </td>
      <td colspan="5" width="12%">
       <div class="control-group"> Nome de Guerra:
         <input type="text" readonly=true name="posto_graduacao" size="50" value="{{militar.nome_guerra}}">
         <input type="hidden" readonly=true name="idmilitar" size="15" value="{{militar.id}}">
         <input type="hidden" readonly=true name="idcirculo" size="15" value="{{militar.idcirculo}}">
       </div>
      </td>
    </tr>
  </table>

  <table class="table full"  cellspacing="1" cellpadding="2"  align="center">
    <tr bgcolor="ebebeb">
      {{ form_folgas.non_field_errors }}
      <td width="6%">
        <div class="control-group" align="left">
            {{ form_folgas.idescala.label_tag }}
            <select class="controls" name="idescala" required width="3">
              <option value="">Selecione uma escala...</option>
              {%for escala in escalas %}
                <option value={{escala.id}}>{{escala.descricao}}</option>
              {%endfor%}
            </select>
        </div>
      </td>
<!--
      <td height="25" width="6%">
        {{ form_folgas.idescala.label_tag }}
        {{ form_folgas.idescala }}
        {{ form_folgas.idescala.errors }}
      </td>
-->
      <td width="1%">
        {{ form_folgas.realblack.label_tag }}
      </td>
      <td width="5%">
        <div class="control" align = "center">
            {{ form_folgas.realblack }}
            {{ form_folgas.realblack.errors }}
        </div>
      </td>
      <td width="1%"> <font color ="red">
        {{ form_folgas.realred.label_tag }}
      </td>
      <td  width="5%">
        <div class="control" align = "center">
            {{ form_folgas.realred }}
            {{ form_folgas.realred.errors }}
        </div>
      </td>
    </tr>
  </table>

  <table class="table full"  cellspacing="1" cellpadding="2"  align="center">
      {{ form_designacao.non_field_errors }}
      <tr bgcolor="ebebeb">
        <td colspan="5" width="5%">
          <div class="control" align = "center">
              {{ form_designacao.preta.label_tag }}
              {{ form_designacao.preta }}
              {{ form_designacao.preta.errors }}
          </div>
        </td>
        <td colspan="5" width="5%">
          <div class="control" align = "center"> <font color = "red">
              {{ form_designacao.vermelha.label_tag }}
              {{ form_designacao.vermelha }}
              {{ form_designacao.vermelha.errors }}
          </font></div>
        </td>
        <td colspan="5" width="5%">
          <div class="control" align = "center">
              {{ form_designacao.dom.label_tag }}
              {{ form_designacao.dom }}
              {{ form_designacao.dom.errors }}
          </div>
        </td>
        <td colspan="5" width="5%">
          <div class="control" align = "center">
              {{ form_designacao.seg.label_tag }}
              {{ form_designacao.seg }}
              {{ form_designacao.seg.errors }}
          </div>
        </td>
        <td colspan="5" width="5%">
          <div class="control" align = "center">
              {{ form_designacao.ter.label_tag }}
              {{ form_designacao.ter }}
              {{ form_designacao.ter.errors }}
          </div>
        </td>
        <td colspan="5" width="5%">
          <div class="control" align = "center">
              {{ form_designacao.qua.label_tag }}
              {{ form_designacao.qua }}
              {{ form_designacao.qua.errors }}
          </div>
        </td>
        <td colspan="5" width="5%">
          <div class="control" align = "center">
              {{ form_designacao.qui.label_tag }}
              {{ form_designacao.qui }}
              {{ form_designacao.qui.errors }}
          </div>
        </td>
        <td colspan="5" width="5%">
          <div class="control" align = "center">
              {{ form_designacao.sex.label_tag }}
              {{ form_designacao.sex }}
              {{ form_designacao.sex.errors }}
          </div>
        </td>
        <td colspan="5" width="5%">
          <div class="control" align = "center">
              {{ form_designacao.sab.label_tag }}
              {{ form_designacao.sab }}
              {{ form_designacao.sab.errors }}
          </div>
        </td>
      </tr>
    </table>

    <table class="table full" align="center">
    <tr bgcolor="ebebeb">
      <td>
        <div class="controls" align = "center">
            <button type="submit" class="pure-button pure-button-primary">Salvar</button>
            <button type="button" onclick='history.go(-1)' class="pure-button pure-button-error">Voltar</button>
        </div>
      </td>
    </tr>
    </table>
  </form>

<table class="table full" align="center" id="minhaTabela">
  <thead>
    <th colspan="21" bgcolor="#6699CC">
      <div align="center"><font face="Arial" size="4"><b><font color="#FFFFFF">Escalas que está concorrendo</font></b></font></div>
    </th>
    <tr bgcolor="cccccc">
      <th colspan="1" >Escala</th>
      <th colspan="2">Tipo de Escala </th>
      <th colspan="14">Semana</th>
      <th colspan="1">Folga</th>
      <th colspan="1">Folga</th>
      <th colspan="1">Editar</th>
      <th colspan="1">Excluir</th>
    </tr>
  </thead>
  <body>
    {% for escalas in escalado_em %}
    <tr bgcolor="ebebeb">
      <td colspan="1" align = center >{{ escalas.descricao }}</td>
      <td colspan="2">
        <table style="width: 100%;">
          <tr>
            <td height="25">
              <div align="center">
                <font color = "red">Vermelha:
                {% if escalas.vermelha == True %}
                  <input type="checkbox" name="selected_options" checked disabled>
                {% else %}
                  <input type="checkbox" name="selected_options" disabled>
                {% endif %}
                </font>
              </div>
            </td>
            <td height="25">
              <div align="center"> Preta:
                {% if escalas.preta == True %}
                  <input type="checkbox" name="selected_options" checked disabled>
                {% else %}
                  <input type="checkbox" name="selected_options" disabled>
                {% endif %}
              </div>
            </td>
          </tr>
        </table>
      </td>
      <td colspan="14">
        <table style="width: 100%;">
          <tr>
            <td height="25">
              <div align="center"> Dom:
                {% if escalas.dom == True %}
                  <input type="checkbox" name="selected_options" checked disabled>
                {% else %}
                  <input type="checkbox" name="selected_options" disabled>
                {% endif %}
              </div>
            </td>
            <td height="25">
              <div align="center"> Seg:
                {% if escalas.seg == True %}
                  <input type="checkbox" name="selected_options" checked disabled>
                {% else %}
                  <input type="checkbox" name="selected_options" disabled>
                {% endif %}
              </div>
            </td>
            <td height="25">
              <div align="center"> Ter:
                {% if escalas.ter == True %}
                  <input type="checkbox" name="selected_options" checked disabled>
                {% else %}
                  <input type="checkbox" name="selected_options" disabled>
                {% endif %}
              </div>
            </td>
            <td height="25">
              <div align="center"> Qua:
                {% if escalas.qua == True %}
                  <input type="checkbox" name="selected_options" checked disabled>
                {% else %}
                  <input type="checkbox" name="selected_options" disabled>
                {% endif %}
              </div>
            </td>
            <td height="25">
              <div align="center"> Qui:
                {% if escalas.qui == True %}
                  <input type="checkbox" name="selected_options" checked disabled>
                {% else %}
                  <input type="checkbox" name="selected_options" disabled>
                {% endif %}
              </div>
            </td>
            <td height="25">
              <div align="center"> Sex:
                {% if escalas.sex == True %}
                  <input type="checkbox" name="selected_options" checked disabled>
                {% else %}
                  <input type="checkbox" name="selected_options" disabled>
                {% endif %}
              </div>
            </td>
            <td height="25">
              <div align="center"> Sáb:
                {% if escalas.sab == True %}
                  <input type="checkbox" name="selected_options" checked disabled>
                {% else %}
                  <input type="checkbox" name="selected_options" disabled>
                {% endif %}
              </div>
            </td>
          </tr>
        </table>
      </td>
      <td colspan="1" height="25">
        <div align="center"><font face="Arial" size="2">
        {{escalas.realblack}}</font></div>
      </td>
      <td colspan="1" height="25">
        <div align="center"><font face="Arial" size="2" color="red">
        {{escalas.realred}}</font></div>
      </td>
      <td align = center >
<!--        <a href="{#% url 'core:editar_escalar' escalas.idmilitar escalas.idcirculo escalas.id %}"> -->
        <a href="{% url 'core:editar_escalar' escalas.id %}">
          <i class="fa fa-edit"></i>
            Editar
        </a>
      </td>
      <td align = center >
<!--        <a href="{#% url 'core:excluir_designacao' escalas.id %}" class="btn danger">-->
        <a href="{% url 'core:excluir_designacao' escalas.id %}" >
          <i class="fa fa-trash"></i>
          Excluir
        </a>
      </td>
    </tr>
    {% endfor endfor %}
  </body>
</table>
{% if escalado_em.has_other_pages %}
  <div class="pagination">
    {% if escalado_em.has_previous %}
      <a href="?page={{ escalado_em.previous_page_number }}">&laquo;</a>
    {% endif %}
    {% for i in escalado_em.paginator.page_range %}
      {% if escalado_em.number == i %}
        <a href="?page={{ i }}" class="active">{{ i }}</a>
      {% else %}
        <a href="?page={{ i }}">{{ i }}</a>
      {% endif %}
    {% endfor %}
    {% if escalado_em.has_next %}
      <a href="?page={{ escalado_em.next_page_number }}">&raquo;</a>
    {% endif %}
  </div>
{% endif %}

<!-- 
{% if escalado_em.has_other_pages %}
  <ul class="breadcrumb">
    {% if escalado_em.has_previous %}
      <li><a href="?page={{ escalado_em.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in escalado_em.paginator.page_range %}
      {% if escalado_em.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(Pág Atual)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if escalado_em.has_next %}
      <li><a href="?page={{ escalado_em.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
-->
{% endblock %}
